<div id="menu2">
    <div class="container-fluid">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#ScrollMenu">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="">VDiary</a>
                </div>

                <div class="collapse navbar-collapse " id="ScrollMenu">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="goHome">Home</a></li>
                        <li><a class="goToFirst">What is VDiary?</a></li>
                        <li><a class="goToSecond">Public task</a></li>
                        <li><a class="goToThird">About</a></li>
                        <li><a href="/register">Register</a></li>
                        <li><a href="/login">Login</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
