@if (User.Identity.IsAuthenticated)
{

}
else
{
    <nav class="navbar navbar-light bg-faded">
        <div class="container" style="padding-left: 15px!important; padding-right: 15px">
            <div class="navbar-header ">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#TopMenu">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">VDiary</a>
            </div>

            <div class="collapse navbar-collapse navbar-toggleable-md" id="TopMenu">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="goHome">Home</a></li>
                    <li><a class="goToFirst">What is VDiary?</a></li>
                    <li><a class="goToSecond">Public task</a></li>
                    <li><a class="goToThird">About</a></li>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
}

