@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Home>
@using WebApplication1.Models
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<div class="content">
    @{
        if (User.Identity.IsAuthenticated)
        {
            <p>Welcome @User.Identity.Name</p>
            <a href="@Url.Action("Logout", "Login")">Logout</a>
        }
        else
        {
            <p>You are not logged in!</p>
        }

        Html.RenderPartial("~/Views/Partials/LoginPartial.cshtml", new Umbraco.Web.Models.LoginModel());

        if (User.Identity.IsAuthenticated)
        {
            <div style="background-color:brown">
                <p>Your tasks:</p>
                <p>Task 1</p>
            </div>
        }
    }


    </div>
    <div class="first" style="height:1000px;">FIRST</div>

    <div class="second" style="height:1000px;">SECOND</div>

    <div class="third" style="height:1000px;">THIRD</div>