@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    var image = Umbraco.TypedMedia(1144);
}

@* the fun starts here *@



<head>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <script src="~/scripts/jquery-3.2.1.min.js"></script>
    <script src="~/scripts/bootstrap.js"></script>
</head>
<body>
    <!--<div><a href="#second" id="goToSecond">GO TO SECOND</a></div>-->

    <div class="mainDiv" style="background-image: url(@image.Url) ">
        <div class="bg"></div>
        <div class="menu">
            @Html.Partial("Menu")
        </div>
        
            
            @RenderBody()

    </div>

   
</body>


