/** {
    font-family: 'Times New Roman';
}

body {
    margin: 0;
}

.mainDiv {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
}

    .mainDiv .bg {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
    }

    .mainDiv .menu {
        padding: 15px;
        position: relative;
        z-index: 3;
        width: 100%;
        color: white;
        height: 5%;
        text-align: center;
    }

    .mainDiv .content {
        padding: 10px;
        position: relative;
        z-index: 3;
        height: 95%;
        width: 100%;
        color: white;
        overflow: hidden;
    }

.first {
    background-color: rgba(0, 0, 0, 0.7);
}

/* MENU 

#logo{
    height: 100px;
}


ul#menu li {
    display: inline;
    padding: 10px 40px;
}

    ul#menu li a {
        color: white;
        text-shadow: 2px 2px 4px #000000
    }

    ul#menu li button {
        background-color: transparent;
        border: none;
        color: white;
        font-family: inherit;
        display: inline-block;
        position: relative;
        transition: 0.5s;
        cursor: pointer;
    }

    ul#menu li button span:before{
        content: '\00ab';
        position: absolute;
        opacity: 0;
        left: -20px;
        transition: 0.5s;
    }

    ul#menu li button span:after{
        content: '\00bb';
        position: absolute;
        opacity: 0;
        right: -20px;
        transition: 0.5s;
    }

    ul#menu li button:hover span:before{
        opacity: 1;
        left: -5px;
    }

    ul#menu li button:hover span:after{
        opacity: 1;
        right: -5px;
    }

/* MENU 2 
.menu#menu2{
    position:fixed;
    top: 0px;
    width: 100%;
    background-color: black;
    color: #FFFFFF;
    z-index: 9999;
    display: none;
}*/


p {
    font-size: 2.5vh;
    text-align: justify;
}

.container-fluid {
    padding-left: 0px !important;
    padding-right: 0px !important;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.container.main {
    position: relative;
    top: 0px;
}

/* BACKGROUND OPACITY*/
.container-fluid .bg {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
}

.container-fluid .navbar,
.container-fluid .main{
    z-index: 3;
    color: white;
}

/* MENU BUTTON ON MOBILE DEVICES */
.navbar .navbar-toggle {
    border-color: white;
}

    .navbar .navbar-toggle .icon-bar {
        background-color: white;
    }

/* menu buttons centered*/
.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-nav li{
    padding-left: 15px;
    padding-right: 15px;
}

.navbar .navbar-collapse {
    text-align: center;
}

/* COLLAPSING NAVIGATION BAR*/
#menu2 {
    display: none;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9999;
}

.collapse ul li a {
    cursor: pointer;
}


/* MENU */
#menu2 .navbar{
    background-color: black;
}


#TopMenu ul li a,
#ScrollMenu ul li a{
    background-color: transparent;
    border: none;
    color: white;
    font-family: inherit;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    cursor: pointer;
    font-size: 1.5em;
}

    #TopMenu ul li a:before,
    #ScrollMenu ul li a:before{
        content: '\00ab';
        position: absolute;
        opacity: 0;
        left: -20px;
        transition: 0.5s;
    }

    #TopMenu ul li a:after,
    #ScrollMenu ul li a:after{
        content: '\00bb';
        position: absolute;
        opacity: 0;
        right: -20px;
        transition: 0.5s;
    }

    #TopMenu ul li a:hover:before,
    #ScrollMenu ul li a:hover:before{
        opacity: 1;
        left: -5px;
    }

    #TopMenu ul li a:hover:after,
    #ScrollMenu ul li a:hover:after {
        opacity: 1;
        right: -5px;
    }

.navbar {
    min-height: 60px;
}

.navbar-brand{
    color: white;
    font-size: 2em;
}

.navbar .navbar-nav > li > a,
.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 50px;
}


/* MENU COLLAPSE WHEN WIDTH IS BELOW 1024px*/
@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

        .navbar-nav > li {
            float: none;
        }

            .navbar-nav > li > a {
                padding-top: 10px;
                padding-bottom: 10px;
            }

    .collapse.in {
        display: block !important;
    }

    .navbar .navbar-toggle {
        height: 40px;
    }

    .navbar .navbar-header {
        height: 60px;
    }
}

/* CENTER TITLE ON FRONT PAGE*/

.center-parent {
    position: relative;
}

.center-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.center-parent .center-child h1 {
    font-size: 3em;
}

@media screen and (max-width: 1000px){
    .center-parent .center-child h1 {
        font-size: 2.5em;
    }
}
