<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT register ANY>
<!ATTLIST register id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
]>
<root id="-1">
  <home id="1150" key="628bf915-9f65-41f5-8cac-64998ed5c0d3" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-08-17T15:02:19" updateDate="2017-08-22T23:40:57" nodeName="Home" urlName="home" path="-1,1150" isDoc="" nodeType="1149" creatorName="admin" writerName="admin" writerID="0" template="1148" nodeTypeAlias="home">
    <hideInNavigation>0</hideInNavigation>
    <register id="1163" key="2ad92e53-2f01-4e6f-ad2f-e13611e40f55" parentID="1150" level="2" creatorID="0" sortOrder="0" createDate="2017-08-24T11:32:16" updateDate="2017-08-24T11:32:16" nodeName="Register" urlName="register" path="-1,1150,1163" isDoc="" nodeType="1162" creatorName="admin" writerName="admin" writerID="0" template="1161" nodeTypeAlias="register">
      <hideInNavigation>0</hideInNavigation>
    </register>
  </home>
</root>